@font-face {
    font-family: font1;
    src: url("../font/font1.woff2") format(woff2);
}
@font-face {
    font-family: font2;
    src: url("../font/Vazirmatn-Bold.woff2") format(woff2);
}
@font-face {
    font-family: font3;
    src: url("../font/Vazirmatn-ExtraLight.woff2") format(woff2);
}
@font-face {
    font-family: font4;
    src: url("../font/Vazirmatn-Light.woff2") format(woff2);
}
@keyframes changeBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    direction: rtl;
    height: 90px;
    background-color: #f9f9f9;
    box-shadow: 0 0 15px 1px #d3d3d3;
    display: flex;
    flex-direction: row;
}

.header-a {
    direction: rtl;
    width: 70%;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 8px;
}

.header-b {
    direction: ltr;
    width: 30%;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 8px;
}


.menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(1 1 1 / 47%);;
    display: none;
}

.menu-components {
    position: fixed;
    height: 100%;
    width: 60%;
    top: 0;
    left: 0;
    background: #e3e3e3;
    border-radius: 0 35px 35px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    direction: rtl;
}

.menu-components-c {
    font-size: 20px;
    font-family: font2;
    color: #4a4a4a;
}

.caption {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 0;
}

.products {
    direction: rtl;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 0 10px 10px;
    padding-bottom: 15px;
    gap: 9px;
}

.products-p, .products-p {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85px;
    gap: 12px;
    font-family: font4;
    font-size: 14px;
}

.products-p-a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.products-p-img {
    width: 75px; height: 75px; border-radius: 50px;
}

.new-products, .making-products, .questions {
    margin: 20px 15px 10px 15px;
}

.new-products-imgs {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.new-products-imgs-div {
    display: flex;
    direction: rtl;
    flex-direction: column;
}

.making-products-div {
    background: #f9f9f9;
    border: 1px solid #c3c3c3;
    margin: 15px 0;
    padding: 20px 0 14px 0;
    border-radius: 15px;
    box-shadow: 0 0 8px 0px #dddddd;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.making-products-div-p {
    background: #d10000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    color: white;
    font-family: font2;
    font-size: 12px;
    border-radius: 6px;
    margin-top: 25px;
    text-decoration: none;
}

.questions-div {
    margin: 15px 0;
}

.questions-div-div {
    padding: 0 0 10px;
    border-bottom: 1px solid #d70000;
    margin: 0 0 -10px;
}

.questions-div-div-q {
    width: 90%; 
    font-size: 13px; 
    display: flex; 
    align-items: center;
}

.questions-div-div-i {
    width: 10%; 
    direction: ltr; 
    font-size: 30px; 
    font-family: font4; 
    color: rgb(214, 0, 0);
}

.questions-div-div-a {
    direction: rtl; 
    font-family: 'font4'; 
    font-size: 13px; 
    margin: 0 0 10px; 
    display: none;
}

footer {
    background: #29343c;
    direction: rtl;
    display: flex;
    align-items: center;
    padding: 25px 30px 20px;
    margin: 50px 0 0 0;
    flex-direction: column;
    gap: 30px;
}

.footer-info, .fast-access {
    direction: rtl;
    display: flex;
    align-items: start;
    width: 100%;
    flex-direction: column;
}

.footer-info-div {
    direction: rtl; 
    display: flex; 
    flex-direction: row; 
    color: rgb(169, 169, 169); 
    width: 100%; 
    font-family: font2;
    font-size: 15px;
    height: 22px;
}


/*-----------------------------store-------------------------------*/
.comments {
    display: flex;
    align-items: start;
    margin: 25px 0 0;
    background: rgb(255, 255, 255);
    padding: 15px 10px;
    gap: 10px;
    flex-direction: column;
    direction: rtl;
}
.comments-div {
    background: whitesmoke;
    border: 1px solid #d1d1d1;
    border-radius: 15px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comments-div-c {
    direction: rtl;
    width: 96%;
}
.comments-div-c-1 {
    width: 100%; 
    direction: rtl; 
    display: flex; 
    flex-direction: row;
}
.comments-div-c-a {
    margin: 14px 14px; 
    box-shadow: 0 0 7px 5px #dddddd; 
    padding: 12px 10px;
}
.comments-div-c-1-h1 {
    font-family: font2; 
    margin: 0; 
    font-size: 18px;
}
.comments-div-c-1-h1-a {
    font-family: font3; 
    font-size: 14px; 
    margin: 0 2px;
}
.comments-div-c-1-time {
    font-family: 'font3'; 
    font-size: 14px;
}
.comments-div-c-1-button {
    padding: 4px 14px;
    font-family: 'font2';
    font-size: 13px;
    margin: 0 4px;
    background: whitesmoke;
    border: 1px solid #cdcdcd;
    color: #646464;
    border-radius: 6px;
}
.comments-div-c-p {
    font-family: 'font4'; 
    margin: 13px 0;
}
.comments-div-sendcomment {
    width: 96%;
    margin-bottom: 30px;
}
.comments-div-sendcomment-text, .comments-div-sendcomment-name, .comments-div-sendcomment-btn {
    width: 100%;
    height: 90px;
    margin: 10px 0 0;
    background: #e7e7e7;
    border: none;
    border-radius: 10px 10px 0 0;
    font-family: 'font4';
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
}
.comments-div-sendcomment-name {
    width: 70%;
    height: 30px;
    margin: 1px 0 0;
    border-radius: 0 0 10px 0;
}
.comments-div-sendcomment-btn {
    width: 29%;
    height: 30px;
    margin: 1px 0 0;
    border-radius: 0 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(255, 0, 0, 0.6);
}

.store-ertebat-btn {
    margin: 5px 10px;
    width: calc(100% - 20px);
    box-shadow: 0 0 7px 1px #898989;
    border: none;
    background: #dd0000;
    padding: 10px;
    font-family: 'font2';
    color: white;
    border-radius: 6px;
}
.store-ertebat {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.store-ertebat-a {
    color: white;
    width: 210px;
    height: 45px;
    transition: width 0.4s;
    background: linear-gradient(to right, rgb(191 0 0 / 78%), #ad0000, rgb(129 0 0));
    background-size: 400% 400%;
    animation: changeBackground 4s infinite;
    margin: 3px;
    font-family: 'font2';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.hailaits {
    margin: 10px;
    direction: rtl;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 15px;
    padding: 0 0 15px 0;
}
.hailaits-1 {
    display: flex;
    padding: 3px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70px;
}
.hailaits-1-a {
    display: flex;
    border-radius: 60px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(199 199 199);
}
.hailaits-img {
    width: 58px;
    height: 58px;
    border-radius: 60px;
}
.hailaits-1-h1 {
    font-family: 'font1';
    font-size: 13px;
    color: #505050;
    margin: 2px 0;
    white-space: nowrap;
}
.story-container {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0);
    z-index: 1000;
    color: white;
}
.story-header {
    display: flex;
    align-items: center;
    padding: 10px;
}
.story-header-back {
    width: 35px;
    height: 30px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}
.story-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
}
.story-strip {
    display: flex;
    height: 4px;
    margin: 10px;
}
.story-strip div {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 2px;
    border-radius: 15px;
}
.story-strip .active {
    background-color: white;
    border-radius: 15px;
}
.story-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 80px);
    position: relative;
}
.story-image img {
    max-width: 100%;
    max-height: 90%;
}
.story-click {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
}
.left-click {
    left: 0;
}
.right-click { 
    right: 0;
}


/*----------------------------------blogs--------------------------*/
.blogs {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    direction: rtl; 
    font-family: font4; 
    padding: 0 50px; 
    box-sizing: border-box; 
    text-align: center; 
    height: 100px;
}



/*----------------------------------contact-------------------------------*/
.contact-to {
    display: flex;
    align-items: start;
    margin: 25px 0 0;
    background: rgb(255, 255, 255);
    padding: 15px 10px;
    gap: 10px;
    flex-direction: column;
    direction: rtl;
}
.contact-to-div {
    background: whitesmoke;
    border: 1px solid #d1d1d1;
    border-radius: 15px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}